
CSharp General/obj/CSharp General.csproj.nuget.cache
CSharp General/obj/CSharp General.csproj.nuget.dgspec.json
CSharp General/obj/Debug/netcoreapp3.1/CSharp General.AssemblyInfoInputs.cache
CSharp General/obj/Debug/netcoreapp3.1/CSharp General.assets.cache
CSharp General/obj/Debug/netcoreapp3.1/CSharp General.csprojAssemblyReference.cache
CSharp General/obj/project.assets.json
CSharp General/obj/CSharp General.csproj.nuget.g.props
CSharp General/obj/CSharp General.csproj.nuget.g.targets
.vs/CSharp General/DesignTimeBuild/.dtbcache
.vs/CSharp General/v16/Server/sqlite3/db.lock
.vs/CSharp General/v16/Server/sqlite3/storage.ide
.vs/CSharp General/v16/Server/sqlite3/storage.ide-shm
.vs/CSharp General/v16/Server/sqlite3/storage.ide-wal
GDC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GDC/obj/Debug/GDC.csprojAssemblyReference.cache
